body {
    margin: 0;
    padding: 10;
    background-image: url("New.jpg");
    height: 500px;
    width:1547px ;
  }
  #login .container #login-row #login-column #login-box {
    margin: auto;
    margin-top: 120px;
    max-width: 300px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #9fdbeb;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 40px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  .btnbtn-success {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: black;
  }
  .button1 {background-color: #4CAF50;}
